body {
  font-family: sans-serif;
}

#game {
  background: rgb(150, 136, 79);
}

.center {
    margin: auto;
    width: 95%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.green {
  background: lightgreen !important;
}

#HUD {
  background-color: lightgray;
  float: left;
  border: 1px solid black;
  margin-left: 35px;
  width: 400px;
  height: 650px;
}

#content {
  align-content: center;
  margin-top: 35px;
}
